.contact{

    width:90%;
    max-width:1300px;

    margin:120px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:70px;
}

/* LEFT */

.contact-left{

    flex:1;
}

.contact-tag{

    display:inline-block;

    padding:8px 18px;

    border-radius:30px;

    background:#F3ECE7;

    color:#D4775B;

    font-size:.8rem;

    font-weight:700;

    letter-spacing:1px;

    margin-bottom:25px;
}

.contact-left h1{

    font-size:3.2rem;

    line-height:1.1;

    color:#1E1E1E;

    margin-bottom:20px;
}

.contact-left>p{

    color:#666;

    line-height:1.9;

    max-width:500px;

    margin-bottom:40px;
}

.contact-info{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.info-box{

    display:flex;

    align-items:center;

    gap:18px;

    padding:18px 22px;

    background:#fff;

    border-radius:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.06);

    transition:.3s;
}

.info-box:hover{

    transform:translateY(-4px);

    box-shadow:0 18px 35px rgba(0,0,0,.1);
}

.info-icon{

    width:50px;

    height:50px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:50%;

    background:#F3ECE7;

  color:#ff385c;

    padding:12px;

    font-size:22px;
}


.loader{
    width:25px;
    border:2px solid #E5E5E5;
    border-radius:50%;
    animation:spin .8s linear infinite;

}

@keyframes spin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}
.info-box h3{

    color:#1E1E1E;

    margin-bottom:4px;
}

.info-box p{

    color:#666;
}

/* RIGHT */

.contact-right{

    flex:1;
}

.contact-form{

    background:#fff;

    padding:40px;

    border-radius:28px;

    box-shadow:0 20px 50px rgba(0,0,0,.08);

    display:flex;

    flex-direction:column;

    gap:18px;
}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:16px 18px;

    border:1px solid #E5E5E5;

    border-radius:14px;

    outline:none;

    font-size:.95rem;

    transition:.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{

    border-color:#D4775B;

    box-shadow:0 0 0 4px rgba(212,119,91,.1);
}

.contact-form textarea{

    resize:none;
}

#btn{

    border:none;

    background:#1E1E1E;

    color:white;

    padding:16px;

    border-radius:14px;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    font-size:1rem;

    font-weight:600;

    transition:.3s;
}

.contact-form button:hover{

    background:#2B2B2B;

    transform:translateY(-2px);
}

.success{

    text-align:center; 
    color:#16A34A;
    font-weight:600;
    margin-top:5px;
}

.error{
   color:#DC2626;

    font-size:.85rem;

    font-weight:500;

    margin-top:-8px;

    margin-bottom:6px;

    padding-left:4px;
}
/* ======================= */
/* TABLET */
/* ======================= */

@media(max-width:992px){

.contact{

    flex-direction:column;

    gap:50px;

    margin:80px auto;
}

.contact-left,
.contact-right{

    width:100%;
}

.contact-left h1{

    font-size:2.7rem;
}

}

/* ======================= */
/* MOBILE */
/* ======================= */

@media(max-width:768px){

.contact{

    width:90%;

    gap:35px;

    margin:60px auto;
}

.contact-left h1{

    font-size:2rem;
}

.contact-left>p{

    font-size:.95rem;

    max-width:100%;
}

.contact-form{

    padding:25px;
}

.contact-form input,
.contact-form textarea{

    padding:14px;
}

.contact-form button{

    width:100%;
}

.info-box{

    padding:16px;
}

.info-icon{

    width:45px;
    height:45px;
    font-size:20px;
}

}

/* ======================= */
/* SMALL PHONES */
/* ======================= */

@media(max-width:480px){

.contact{
margin-top: 18vh;
    width:92%;
}

.contact-left h1{

    font-size:1.7rem;
}

.contact-tag{

    font-size:.72rem;
}

.contact-form{

    padding:20px;
}

.info-box{

    gap:12px;
}

.info-box h3{

    font-size:1rem;
}

.info-box p{

    font-size:.85rem;
}

}