.hero{
    position:relative;
    width:100%;
    height:540px;
    overflow:visible;
}

.hero-right,
.hero-right img{
    width:100%;
    height:100%;
}

.hero-image{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-left{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:#fff;
    z-index:2;
}

.hero-left h1{
    font-size:64px;
    line-height:1.1;
    margin-bottom:18px;
}

.hero-left p{
    font-size:18px;
}

.hero-search{
    position:absolute;
    left:50%;
    bottom:-35px;
    transform:translateX(-50%);
    width:50%;
    height:72px;
    background:#fff;
    border-radius:25px;
    display:flex;
    align-items:center;
    padding:0 12px 0 25px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    z-index:5;
}

.hero-search input{
    flex:1;
    border:none;
    outline:none;
    font-size:17px;
    background:none;
}

.search-icon{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#ff5a5f;
    color:#fff;
    padding:12px;
    cursor:pointer;
}

@media (max-width:768px){

.hero{
    height:85vh;
}

.hero-left{
    position:absolute;
    top:35%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    text-align:center;
    z-index:2;
}

.hero-left h1{
    font-size:48px;
    line-height:1.1;
    margin-bottom:12px;
}

.hero-left p{
    font-size:16px;
    line-height:1.5;
}

.hero-search{
    position:absolute;
    left:50%;
    top:70%;
    transform:translate(-50%,-50%);
    width:90%;
    height:58px;
    border-radius:18px;
    padding:0 8px 0 18px;
}

.hero-search input{
    font-size:15px;
}

.search-icon{
    width:42px;
    height:42px;
    padding:10px;
}

.category-section{
    margin:45px auto;
    width:92%;
}

.category-header h2{
    font-size:32px;
}

.category-header p{
    font-size:15px;
}

.category-wrapper{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    justify-content:flex-start;
    gap:14px;
    padding-bottom:10px;
    scrollbar-width:none;
}

.category-wrapper::-webkit-scrollbar{
    display:none;
}

.category-pill{
    min-width:135px;
    padding:18px 12px;
    flex-shrink:0;
}

.category-icon{
    width:55px;
    height:55px;
}

}



/* Large laptops (15"-17") */
@media (min-width:1440px){
/* 
    .hero{
        height:720px;
    } */

}

/* Full HD monitors (24", 27", etc.) */
@media (min-width:1920px){

    .hero{
        height:1150px;
    }

}

/* 2K / QHD monitors */
@media (min-width:2560px){

    .hero{
        height:1000px;
    }

}
