.footer-parent{
    margin-top:80px;
    background:#1E1E1E;
    color:#fff;
}

.footer-section{
    max-width:1300px;
    margin:auto;
    padding:70px 40px;
    display:flex;
    justify-content:space-between;
    gap:50px;
    flex-wrap:wrap;
}

.footer-sec-1{
    flex:1;
    min-width:220px;
}

.footer-sec-1 h2{
    margin-bottom:22px;
    font-size:22px;
    font-weight:700;
}

.footer-sec-1 p,
.footer-sec-1 span{
    color:#c5c5c5;
    font-size:15px;
    line-height:1.8;
}

.footer-sec-1 a{
    display:block;
    margin-bottom:14px;
    text-decoration:none;
    color:#cfcfcf;
    transition:.25s;
}

.footer-sec-1 a:hover{
   text-decoration: underline;
}

.footer-bottom{
    padding:22px;
    text-align:center;
    border-top:1px solid rgba(255,255,255,.08);
}

.footer-bottom p{
    color:#bdbdbd;
    font-size:14px;
}

@media(max-width:768px){

    .footer-section{
        flex-direction:column;
        gap:35px;
        padding:50px 25px;
    }

    .footer-sec-1{
        min-width:100%;
    }
}